body {
  font-family: 'Segoe UI', sans-serif;
}

.hero {
  background: url('https://via.placeholder.com/1200x600') center/cover no-repeat;
  height: 80vh;
}

.card-title {
  font-weight: bold;
}

footer {
  margin-top: 2rem;
}

.container-fluid{
    margin: 0;
}

.carousel {
      height: 400px;
      overflow: hidden;
    }

    .carousel-inner,
    .carousel-item,
    .carousel-item img {
      height: 100%;
    }

    .carousel-item img {
      width: 100%;
      object-fit: cover;
      object-position: center center;
    }
